body{
    margin: auto;
    padding: auto;
}
.resplink{
    display:none;
}
.sign{
    width: 30%;
    height: 50vh;
    background: white;
    box-shadow: 0 0 12px;
    border-radius: 5px;
    margin: 12% 36%;
}
.sign h3{
    margin-top: 8px;
    font-size: 30px;
}
.sign form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
}
input,button,select{
    height: 2rem;
    font-size: 20px;
}
.menu{
 display: flex;
 flex-direction: column; 
 background: rgb(1, 134, 243); 
 height: 83vh; 
}
.menu a{
    color: aliceblue;
    font-size: 25px;
    text-decoration: none;
    padding: 3% 3%;
    font-weight:700 ;
}
.menu a:hover{
    background: rgb(96, 153, 217);
    border-radius: 7px;
}
.container{
    display: flex;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.links{
    width: 29%;
    margin: auto;
    background: rgb(0, 156, 241);
}
.content{
    width: 95%;
    align-items: center;
}
.form form{
    width: 50%;
    /* margin: 13% 15%; */
}
table{
    width: 75%;
    border-collapse: collapse;
    border: none;
}
th{
    background: rgb(0, 145, 255);
    color: aliceblue;
    font-size: 20px;
}
td button{
    background: rgb(2, 149, 255);
    border: none;
    border-radius: 6px;
    color: aliceblue;
}
.footer{
    display: flex;
    color: aliceblue;
    background: rgb(52, 51, 51) ;
    height: 3rem;
    gap: 25px;
}
.footer p{
    margin: 1% 15%;
}
address {
    margin: 1% 0%;
    display: flex;
}
.log{
background: black;
color: aliceblue;
}
span{
    color: rgb(0, 153, 255);
}
.grids{
    width: 75%;
    height: 48vh;
    box-shadow: 0 0 12px;
    border-radius: 9px;
    margin: 9% 15%;
    display: flex;
    gap: 10px;
}
.grid{
    width: 45%;
    height: 40vh;
    border-radius: 5px;
    background: rgb(0, 170, 255);
    margin-top: 20px;
}
